@{
    ViewData["Title"] = "About Us";
}
<h1 class="text-center" style="margin-top:50px;">ЗА НАС</h1>

<p style="margin-left:320px; margin-top:30px;">
    НИЕ СМЕ РАЗЛИЧНИ, ЗАЩОТО МИСЛИМ РАЗЛИЧНО<br />
    Хотел Слънчев Изгрев те кани на модерното градско място, изградено от професионализъм и стил.<br />
    Хотелските стаи отговарят на всички съвременни удобства и осигуряват на гостите комфортно преживяване.<br />
    Хотел Слънчев Изгрев е нарицателно за стил и очарование. Ние сме различни, защото мислим различно!<br />
    Слънчев Изгрев разполага с денонощна рецепция, лоби бар, ресторант, както и тераса.<br />
    В целия комплекс се предлага безплатна и високоскоростна WiFi мрежа. <br />
    Всички стаи разполагат със самостоятелна баня и SMART телевизор със сателитни канали. <br />
    Всички гости на хотела, както и външни посетители могат да релаксират в нашата сауна и солна стая<br />
    или да разтоварят тялото и ума си във фитнес залата или залата ни с игри. Предлагаме и летищен трансфер.
</p>
<img src="https://cdn0.iconfinder.com/data/icons/hotel-85/256/Service_Line_Outline_-122-512.png" style="width:15%; margin-left:800px;" />
