
@{
    ViewData["Title"] = "Contacts";
}

<h1 class="text-center" style="margin-top:50px">КОНТАКТИ</h1>
<p class="text-center" style="font-size:1.5em; margin-top:80px;">Email: slunchev_izgrev@gmail.com<br />
   Tел. 0887788777<br />
   Адрес: Приморско, ул. И. Вазов 44
</p>
<img src="https://cdn.pixabay.com/photo/2021/10/29/06/47/icons-6751206_1280.png" style="width:40%; margin-left:670px;" />

